<div class="internship">
  <h2>Internship</h2>
  {% if site.internship  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign internship = site.internship | reverse %}
        {% for item in internship limit: site.news_limit %}
            <tr>
              <th scope="row">{{ item.date | date: "%b %Y" }}</th>
              {% if item.date2  %}
                  <th scope="row">{{ item.date2 | date: "~ %b %Y" }}</th>
              {% else %}
                  <th scope="row">{{ item.date2 | date: " " }}</th>
              {% endif %}
              <td>
                {% if item.inline %}
                  {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {% else %}
                  <a class="internship-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% endif %}
                <br>
              </td>
            </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No internship so far...</p>
  {% endif %}
</div>
